<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Superleap"
       parallel="tests"
       thread-count="100"
       data-provider-thread-count="100">

    <test name="All UI Tests">
        <groups>
            <run>
                <include name="ValidateScreen"/>
            </run>
        </groups>

        <classes>
            <class name="com.holmusk.SuperLeapQA.ui.welcome.UIWelcomeTest"/>
            <class name="com.holmusk.SuperLeapQA.ui.signup.mode.UIRegisterModeTest"/>
            <class name="com.holmusk.SuperLeapQA.ui.signup.main.UISignUpTest"/>
            <class name="com.holmusk.SuperLeapQA.ui.dashboard.UIMainDashboardTest"/>
        </classes>
    </test>

</suite>