<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Superleap"
       parallel="instances"
       thread-count="5"
       data-provider-thread-count="5">

    <test name="All UI Tests">
        <classes>
            <class name="com.holmusk.SuperLeapQA.test.consolidated.UIScreenValidationTest"/>
            <class name="com.holmusk.SuperLeapQA.test.dob.UIDoBPickerTest"/>
        </classes>
    </test>

</suite>